body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 226, 226);
}

.wrapper{

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

header, nav, .card{
    padding: 15px 20px;
}

header{

    background-color: green;
    color: white;
    text-align: center;

}

nav{

    background-color: rgb(248, 248, 248);
    
}

nav a{

    text-decoration: none;
    margin-right: 15px;
    color: green;
    font-weight: bold;
}

.container{
    
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-right: 100px;
    gap: 10px;
    
}

.main-section{

    flex: 3 1 250px;
}

#layout{

    margin-top: 20px;
}
.card{

    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 4px rgb(0, 0, 0, 0.1);
    margin-bottom: 15px;
    
}

.card img{

    width: 90%;
    height: 500px;
    border: solid green 5px;
    border-radius: 8px;
    margin-left: 45px;
    margin-bottom: 20px;
}

.frame iframe{

    position: relative;
    border-radius:8px;
    width: 100%;
}

.hidden-message{

    display: none;
}

#faq-button{

    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

#faq-button:hover{

    background-color: darkgreen;
}

.code-block{

    background-color: rgb(39, 39, 39);
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
}

pre{

    margin: 0;
}

code{

    white-space: pre-wrap;
    word-wrap: break-word;
}

footer{

    color: white;
    background-color: green;
    text-align: center;
    padding: 15px 20px;
}

.side-bar{

    background-color: white;
    padding:  15px 20px;
    border-radius: 8px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.side-bar a{

    text-decoration: none;
    color: green    ;
}

@media (max-width: 600px){

    
    body{

        font-size: 14px;
    }

    .container{

        flex-direction: column;
    }

    .card{

        font-size: 14px;
    }

    .card img{

    width: 90%;
    height: 500px;
    border: solid green 5px;
    border-radius: 8px;
    margin-bottom: 20px;
}

    nav a{
        display: inline-block;
        margin-bottom: 6px;
    }
}


